* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display:grid;
    height: 2000px;
    background-color: #27ae60;
    grid-column: auto;
    grid-row: auto auto auto;
    grid-template-areas:  
    'hd'
    'main'
    'ft'       
}

header {
    display:flex;
    flex-direction: column;
    background-color: #27ae60;
    grid-area: hd;

}

nav {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #ccc;
    padding: 1rem;
}

.navlinks {
    list-style: none;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.nav-links li {
    margin: 0 1rem;
}

.hero img{
    height: auto;
    width: 100%;

}

.search-container {
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 25px;
    padding: 5px 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.search-container input {
    border: none;
    outline: none;
    padding: 10px;
    width: 250px;
    font-size: 16px;
    border-radius: 25px;
}

.search-container button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
}




main {
    display: flex;
    grid-area: main;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
}

.scroll-places {
    display: flex;
    height: 20%;
    flex-direction: column;
}

.scroll-places h1 {
    text-align: center;

}

.scroll-places .places {
    list-style: none;
    display: flex;
    flex-direction: row;
    width: 100%;
justify-content: space-evenly;
}



.scroll-places .places a img {
width: 25%;
margin-left: auto;
margin-right: auto;
}







.climate-zones {
    display: flex;
    height: 100%;
    flex-direction: column;
    background-color: #2bdf76;
}



article {
    display: flex;
    height: 25%;
    width: 100%;
}

.tropics {
    background-color: #2bdf76;
}
.temperate {
    background-color:bisque
}
.subtropics {
    background-color: rgb(230, 218, 91);
}
.ocean



article img {
    height: 90%;
    width: 40%;
    margin: 30px 10px auto 10px;
    
}

article .climate-zones-text {
    text-align: left;
    display: flex;
    flex-direction: column;
    margin: 20px 40px 20px 40px;

}
article h1 {
    width: 100%;
    text-align: center;
}



footer {
    grid-area: ft;
    background-color: rgba(128, 128, 128, 0.26);
}

