* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

body {
    display:grid;
    height: auto;
    background-color: #27ae60;
    grid-column: auto;
    grid-row: auto auto auto;
    grid-template-areas:  
    'hd'
    'main'
    'ft'       
}

header {
    display:flex;
    flex-direction: column;
    background-color: #27ae60;
    color: black;
    grid-area: hd;
}

nav {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #239653;
    padding: 1rem;
}
nav .logo {
    display: flex;
    height: 1rem;
}

.navlinks {
    list-style: none;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 50%;
    font-size: 20px;

}

.navlinks a:hover {
    text-shadow: 0px 0px 10px white;
}


.nav-links li {
    margin: 0 1rem;
}

.hero img{
    width: 100%;
}

.search-container {
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 5px 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100px;
}

.search-container input {
    border: none;
    outline: none;
    padding: 10px;
    width: 250px;
    font-size: 16px;
    border-radius: 25px;
}

.search-container button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

nav .social-medias {
    display:flex;
    height: 1rem;
    width: 10%;
}




main {
    display: flex;
    grid-area: main;
    flex-direction: column;
    width: 100%;
    height: 3000px;
    margin: 0 auto;
}

.scroll-places {
    display: flex;
    height: auto;
    flex-direction: column;
}

.scroll-places h1 {
    text-align: center;
    padding-bottom: 50px;

}

.scroll-places .places {
    list-style: none;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}



.scroll-places .places img {
width: 25%;
margin: auto auto auto auto;
}


.climate-zones {
    display: flex;
    height: 100%;
    flex-direction: column;
    background-color: #27ae60;
    width: 100%;
}

.climate-zones a {
    color: white;
}

.climate-zones .space {
    height: 5%;
}

.climate-zones article {
    margin: 0px 2% 0px 2%;
    display: flex;
    height: 16%;
    width: 96%;
}

.climate-zones h1 {
    font-size: 60px;
    width: 40%;
    text-align: center;
    margin: auto auto auto auto;
}

.climate-zones b {
    width: 60%;
    margin: auto 5% auto 5%;
}

.tropics {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("/img/forest.jpg");
    color: white;
    text-align: left;
    display: flex;
    flex-direction: row;
    background-color: transparent;
}

.tropics a:hover {
    text-shadow: 2px 2px 20px green, 2px 2px 30px white;
}


.temperate {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("/img/forest.jpg");
    color: white;
    text-align: left;
    display: flex;
    flex-direction: row;
    background-color: transparent;
}
.temperate a:hover {
    text-shadow: 2px 2px 5px green;
    cursor: pointer;
}



.subtropics {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("/img/forest.jpg");
    color: white;
    text-align: left;
    display: flex;
    flex-direction: row;
    background-color: transparent;
}
.subtropics a:hover {
    text-shadow: 2px 2px 5px green;
}




.ocean {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("/img/forest.jpg");
    color: white;
    text-align: left;
    display: flex;
    flex-direction: row;
    background-color: transparent;
}
.ocean a:hover {
    text-shadow: 2px 2px 5px green;
}


.icy {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("/img/forest.jpg");
    color: white;
    text-align: left;
    display: flex;
    flex-direction: row;
    background-color: transparent;
}
.icy a:hover {
    text-shadow: 2px 2px 5px green;
}





footer {
    grid-area: ft;
    background-color: rgba(128, 128, 128, 0.26);
    height: 200px;
}

.card-container {
    margin: 40px 0 40px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
    box-sizing: border-box;

    gap: 80px;
}

.visit-card {
background-color: aquamarine;
width: 200px;
height: 300px;
display: flex;
border-radius: 10px;
display: flex;
flex: row;
flex-wrap: wrap;
color: white;
box-shadow: 0px 0px 10px;
}

.visit-card:hover {
    box-shadow: 0px 0px 20px;
    cursor: pointer;
    transform: scale(1.1);
}
.visit-card .picture{
    height: 40%;
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.visit-card .info{
    background-color: rgba(0, 0, 0, 0.5);
    height: 60%;
    width: 100%;
    border-radius: 0 0 10px 10px;
    flex: row;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif
}


.visit-card .info h4{
    margin: 10px 5px 5px 5px;
    font-size: 16px;
    flex-wrap: wrap;

}
.visit-card .info p{
    margin: 10px 5px 5px 5px;
    font-size: 12px;
    flex-wrap: wrap;
    line-height: 1.5;
}

